In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("datasets/Admission_Predict.csv")

In [3]:
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [5]:
data = data.drop("Serial No.", axis=1)

In [8]:
data.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [64]:
y = data["Chance of Admit "].values
X = data.drop("Chance of Admit ", axis=1).values

In [65]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression

In [67]:
standard_col = [0, 1]
min_max_cols = [2, 3, 4, 5]

In [68]:
preprocessor = ColumnTransformer(
    transformers = [
        ["std_scaler", StandardScaler(), standard_col],
        ["min_max_scaler", MinMaxScaler((-3, 3)), min_max_cols]
    ]
)

In [69]:
clf = LinearRegression()

In [70]:
ml_pipeline = make_pipeline(preprocessor, clf)

In [71]:
ml_pipeline.fit(X, y)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[['std_scaler',
                                                  StandardScaler(), [0, 1]],
                                                 ['min_max_scaler',
                                                  MinMaxScaler(feature_range=(-3,
                                                                              3)),
                                                  [2, 3, 4, 5]]])),
                ('linearregression', LinearRegression())])

In [72]:
import pickle

In [73]:
f = open("ml_pipeline.pkl", "wb")
pickle.dump(ml_pipeline, f)
f.close()

In [75]:
sample = [[330, 110, 4, 4, 4, 8, 0]]

In [76]:
sample

[[330, 110, 4, 4, 4, 8, 0]]

In [77]:
prediction = ml_pipeline.predict(sample)

In [78]:
prediction[0].round(4) * 100

70.65